<!DOCTYPE html>
{% load static %}
<html lang="ru">
<head>
    <meta charset="UTF-8">
    {% block title %}
    <link rel="stylesheet" type="text/css" href="{% static 'css/index.css '%}">
    {% endblock title %}
    <title>Шапошникова Ангелина</title>
</head>
<body>

<div class="contents">
    <div class="head">

        <div id="openModal" class="modal">
          <div class="modal-dialog">
            <div class="modal-content">
              <div class="modal-header">
                <h3 class="modal-title">Регистрация</h3>
                <a href="#close" title="Close" class="close">×</a>
              </div>
              <div class="modal-body">
                <form method="POST" class="form">
                    {% csrf_token %}
                    <table>
                         {{ form }}
                    </table>
                    <input type="submit" value="регистрация" onclick="" class="submit">
                </form>
              </div>
            </div>
          </div>
        </div>

    <nav>
        <ul class="nav">
            <li>
                <a href="{% url 'home' %}">Главная</a>
            </li>
            <li>
                <a href="{% url 'works' %}">Творческие работы</a>
            </li>
            <li>
                <a href="{% url 'other' %}">Дополнительные материалы</a>
            </li>
            <li>
                <a href="auth#openModal">регистрация</a>
            </li>
            <li>
                <a href="https://vk.com/lesserdog" class="icon_nav">
                    <img src="{% static 'images/icon/vk icon.png' %}" width="64px" height="64px" alt="VK">
                </a>
            </li>
            <li>
                <a href="https://www.instagram.com/lesserdooog/" class="icon_nav">
                    <img src="{% static 'images/icon/instagram icon.png' %}" width="64px" height="64px" alt="instagram">
                </a>
            </li>

        </ul>
    </nav>
</div>
    {% block main %}
    <div class="block_Head"></div>
    <div class="photo">
        <img src="{% static 'images/Lina.png' %}" alt="">
    </div>

    <div class="block1">
        <h1>Ангелина Шапошникова</h1>
        <h2>Художница</h2>
        Работы петербургской художницы Ангелины Шапошниковой можно увидеть на многих интернет-платформах, но её творческая биография до сих пор не была обстоятельно освещена: в различных источниках упоминался различный набор фактов, и хотя явных противоречий обычно не возникало, у читателя оставались сомнения в достоверности полученной информации. Безусловно, назрела необходимость упорядочить все ранее публиковавшиеся сведения и получить их подтверждение у самого автора.
    </div>
    <div class="block2">
        <div class="block2_Head">
            <div></div>
            Итак, обозначим основные вехи творческого становления знакомого многим станкового графика и сетевого блогера
        </div>
        <div class="block2_text">
            Базовую профессиональную подготовку Ангелина получила в Санкт-Петербургском художественном училище имени Н.К. Рериха. Её обучение проходило под руководством заслуженного художника Российской Федерации Бориса Васильевича Лесова. Будучи студенткой IV курса, Галина удостоилась премии Правительства Санкт-Петербурга. Незадолго до этого состоялась её первая персональная выставка в залах Санкт-Петербургского политехнического университета Петра Великого. Успешно защитив дипломную работу и получив квалификацию "живописец-педагог", Ангелина решила продолжить обучение в Санкт-Петербургском государственном академическом институте им. И.Е. Репина (более известном как Академия Художеств).
        </div>
    </div>
    <div class="block3">
        <div class="block3_Head">
            Пройдя вступительные испытания с первого раза, в 2010 году она поступила на факультет графики. Первые годы учёбы прошли под влиянием профессора Клима Ли, в то время занимавшего должность декана. На третьем курсе произошло профильное распределение, и Галина была принята на кафедру станковой графики, в мастерскую Александра Семёновича Андреева. Там ей удалось расширить свои знания о традициях академической школы и освоить новые композиционные решения. В качестве сюжета дипломной работы Ангелина выбрала знакомый всем мотив путешествий в плацкартном вагоне
        </div>
        <div class="block3_text">
            Графическая серия из девяти листов запечатлела разнообразные сцены дорожного быта: посиделки за чаем, уединённые разговоры на верхних полках, ночные хлопоты молодых родителей. После защиты эти работы облетели Интернет, и сегодня знакомы многим любителям искусства.
            По окончании института в 2017 году* Галина продолжила активную творческую деятельность и разработала ряд онлайн-курсов для начинающих.
        </div>
    </div>
</div>
{% endblock main %}
<footer>
    <ul class="footer">
        <li>
            Вы можете делиться работами Ангелины  на интернет-платформах, с указанием автора.
            Email для связи: drawing.by.shaposhnikova@yandex.ru
        </li>
        <li>
            <a href="https://vk.com/lesserdog" class="icon_footer">
                <img src="{% static 'images/icon/vk icon.png' %}" width="64px" height="64px" alt="VK">
            </a>
        </li>
        <li>
            <a href="https://www.instagram.com/lesserdooog/" class="icon_footer">
                <img src="{% static 'images/icon/instagram icon.png' %}" width="64px" height="64px" alt="instagram">
            </a>
        </li>
    </ul>
</footer>
</body>
</html>